@import '../../prelude';

.card-stack-renderer {
    position: relative;

    .card-stack-backdrop {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.2);
        animation: card-stack-backdrop-in 0.5s @easing forwards;

        @keyframes card-stack-backdrop-in {
            0% {
                opacity: 0;
            }
        }

        &.is-phantom {
            pointer-events: none;
            animation: card-stack-backdrop-out 0.5s @easing forwards;

            @keyframes card-stack-backdrop-out {
                100% {
                    opacity: 0;
                }
            }
        }
    }

    &.is-empty {
        visibility: hidden;
    }

    .card-stack-item {
        position: absolute;
        top: 32px;
        left: 16px;
        right: 16px;
        bottom: 0;
        margin: 0 auto;
        max-width: 800px;
        background: @card-background;
        .elevation(4);
        border-radius: 8px 8px 0 0;
        transition: transform 0.5s @easing;
        animation: card-stack-item-in 0.5s @easing;

        @keyframes card-stack-item-in {
            0% {
                transform: translateY(100%);
            }
        }

        .card-stack-item-contents {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: inherit;
            overflow-x: hidden;
            overflow-y: auto;
        }

        &.is-phantom {
            animation: card-stack-item-out 0.5s @easing forwards;
            pointer-events: none;

            @keyframes card-stack-item-out {
                100% {
                    transform: translateY(100%);
                }
            }
        }

        @media (max-width: 1100px) {
            top: -8px;
            left: 0;
            right: 0;
            max-width: none;
            animation-name: card-stack-item-in-fs;

            @keyframes card-stack-item-in-fs {
                0% {
                    transform: translateX(100%);
                }
            }

            .card-stack-item-contents {
                top: 8px;
            }

            &.is-phantom {
                animation: none;
            }
        }
    }
}
