@import '../../../../../prelude';

.congress-location-icon {
    // this element only appears in 2 locations and both require a right margin
    margin-right: 16px;
    width: 24px;
    height: 24px;

    & > * {
        max-width: 100%;
        max-height: 100%;
    }
}

.congress-location-icon-picker {
    font-size: 1rem;
    font-weight: normal;
    text-transform: none;
    border: 1px solid @control-idle;
    border-radius: 4px;
    --md-button-color: @gray-button-color;
    color: inherit;
    display: inline-flex;
    align-items: center;
    padding: 0;
    letter-spacing: inherit;
    min-width: 0;

    .picker-preview {
        padding-left: 8px;
    }
    .expand-icon {
        padding: 0 8px;
    }
}
.congress-location-icon-picker-dialog {
    width: 400px;
    max-width: 100%;

    .picker-item {
        display: flex;
        width: 100%;
        padding: 16px;
        box-sizing: border-box;
        margin: 0;
        min-width: 0;
        font: inherit;
        text-transform: inherit;
        letter-spacing: inherit;
        text-align: left;
        --md-button-color: @gray-button-color;
        color: inherit;
        align-items: center;

        .picker-label {
            flex: 1;
        }
        .picker-check {
            transform: scale(0);
            transition: transform 0.3s @easing;
        }
        &.is-selected .picker-check {
            transform: none;
        }
    }
}

.congress-location-description {
    &[data-slot=body] {
        font-size: small;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 200px;
    }
}

.congress-location-rating {
    display: flex;
    white-space: nowrap;
    align-items: center;

    .rating-cell {
        display: inline-block;
        width: 24px;
        height: 24px;
        transition: opacity 0.3s @easing;

        &:first-child {
            margin-left: 0;
        }

        .rating-cell-blend {
            display: inline-block;
            position: relative;

            .blend-top {
                position: absolute;
                top: 0;
                left: 0;
                overflow: hidden;
                height: 100%;
            }
        }

        &[data-null] {
            opacity: 0.5;
        }

        &[data-type="stars"] {
            color: @rating-stars;
        }
        &[data-type="hearts"] {
            color: @rating-hearts;
        }
    }

    .rating-numeric {
        margin-left: 4px;
        color: @text-fade-60;
    }

    .rating-editor {
        flex: 1;
        margin-left: 8px;
        display: flex;
        align-items: center;

        .editor-infix {
            margin: 0 4px;
        }

        .paper-text-field {
            max-width: 8em;
        }
    }
}
