@import '../../../../../prelude';

.congress-location-icon {
    // this element only appears in 2 locations and both require a right margin
    margin-right: 16px;
    width: 24px;
    height: 24px;

    & > * {
        max-width: 100%;
        max-height: 100%;
    }
}

.congress-location-description {
    &[data-slot=body] {
        font-size: small;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 200px;
    }
}

.congress-location-rating {
    display: flex;
    white-space: nowrap;
    align-items: center;

    .rating-cell {
        display: inline-block;
        width: 24px;
        height: 24px;
        transition: opacity 0.3s @easing;

        &:first-child {
            margin-left: 0;
        }

        .rating-cell-blend {
            display: inline-block;
            position: relative;

            .blend-top {
                position: absolute;
                top: 0;
                left: 0;
                overflow: hidden;
                height: 100%;
            }
        }

        &[data-null] {
            opacity: 0.5;
        }

        &[data-type="stars"] {
            color: @rating-stars;
        }
        &[data-type="hearts"] {
            color: @rating-hearts;
        }
    }

    .rating-numeric {
        margin-left: 4px;
        color: @text-fade-60;
    }
}
