@import '../../../../prelude';

.http-log-detail-page {
    padding: 24px;

    .ip-address {
        .ip-copy-button {
            margin-left: 16px;
            --md-button-color: @gray-button-color;
        }
    }
}
