@import '../../prelude';

.member-detail-page {
    padding: 24px;

    &.transition-in {
        animation: member-detail-page-in 1s @easing;

        @keyframes member-detail-page-in {
            from {
                opacity: 0;
            }
        }

        .title-item:not([data-field='name']) {
            animation: member-detail-title-in 0.6s @easing 0.3s backwards;

            @keyframes member-detail-title-in {
                from {
                    opacity: 0;
                }
            }
        }

        .gen-member-detail-table-transition(@n, @offset) when (@n < 20) {
            .member-detail-table tr:nth-child(@{n}) {
                animation: member-detail-item-in 0.5s @easing @offset backwards;
            }

            .gen-member-detail-table-transition(@n + 1, @offset + 0.01s);
        }

        .gen-member-detail-table-transition(0, 0.2s);

        @keyframes member-detail-item-in {
            from {
                transform: translateY(30px);
                opacity: 0;
            }
        }
    }

    .title {
        margin: 16px 0;

        .codeholder-type {
            display: inline-block;
        }

        .title-item {
            display: inline-block;
            vertical-align: middle;
        }

        .title-item:not(:last-of-type) {
            margin-right: 16px;
        }

        &.transitioning .title-item[data-field='name'] {
            visibility: hidden;
        }
    }

    .member-detail-table {
        .field-name {
            font-weight: 500;
            padding: 8px 16px;
            text-align: right;
            vertical-align: top;
        }

        .field-value {
            padding: 8px;
            padding-left: 0;
        }

        .address {
            .address-pseudoline {
                display: block;

                &::before {
                    content: none;
                }
            }
        }
    }
}
