@import '../../prelude';

.members-page {
    .members-search {
        display: flex;
        justify-content: center;

        @max-search-width: 800px;

        .search-contents {
            position: relative;
            width: 100%;
            max-width: @max-search-width;

            & > .paper-list-item {
                position: absolute;
                transform-origin: 0 0;
                width: 100%;
            }
        }

        .search-title {
            font-size: 1.7em;
            opacity: 0.8;
            margin-top: 14vh;
            padding-bottom: 0.7em;
            text-align: center;
        }

        .search-box {
            position: relative;
            border-radius: 4px;
            border-radius: 4px;
            transition: box-shadow 0.3s @easing;
            will-change: height;
            .elevation(4);

            .search-primary {
                display: flex;
                align-items: center;
                position: relative;
                border-radius: inherit;
                z-index: 1;

                .search-icon-container {
                    width: 48px;
                    text-align: center;
                    margin-left: 8px;
                    flex-shrink: 0;
                }

                .search-field {
                    flex-shrink: 0;
                }

                .search-input {
                    width: 0;
                    flex: 1;
                    font: inherit;
                    background: none;
                    color: inherit;
                    border: none;
                    padding: 16px;
                    padding-left: 8px;
                    margin: 0;

                    &:focus {
                        outline: none;
                    }
                }

                .search-expand {
                    margin-right: 8px;
                    flex-shrink: 0;
                }

                @media (max-width: @max-search-width) {
                    flex-direction: column;
                    align-items: stretch;
                    border-bottom: 1px solid @separator;

                    .search-icon-container {
                        display: none;
                    }

                    .search-field {
                        margin: 16px;
                        margin-bottom: 8px;
                    }

                    .search-input {
                        width: 100%;
                        padding-left: 16px;
                        box-sizing: border-box;
                    }

                    .search-expand {
                        margin: 16px;
                        margin-top: 8px;
                    }
                }
            }

            &:focus-within {
                .elevation(6);
            }

            .paper-list-item {
                position: absolute;
                width: 100%;
                background: @card-background;
                border-radius: inherit;
                will-change: transform;
                transform-origin: 0 0;
            }

            .filters-title {
                font-size: 0.875em;
                font-weight: 500;
                opacity: 0.5;
                padding: 8px 8px 0 64px;
            }

            .predicate {
                width: 100%;
                display: flex;
                align-items: center;
                padding: 4px 0;

                .predicate-checkbox,
                .predicate-checkbox-placeholder,
                .predicate-expand {
                    margin-left: 8px;
                }

                .predicate-checkbox-placeholder {
                    width: 48px;
                }

                .predicate-field {
                    margin: 0 16px;
                    margin-left: 8px;
                    cursor: default;
                }

                .predicate-editor {
                    display: flex;
                    width: 0;
                    flex: 1;
                    max-width: 100%;
                }

                .string-editor {
                    width: 0;
                    flex: 1;
                    padding: 0 16px;
                }

                .numeric-range-editor {
                    width: 0;
                    flex: 1;
                    height: 48px;
                    max-width: 100%;
                    margin-right: 20px;
                    -webkit-tap-highlight-color: transparent;
                    user-select: none;

                    &:focus {
                        outline: none;
                    }
                }

                .age-range {
                    flex: 1;
                    display: flex;
                    padding-right: 16px;
                }

                .codeholder-type {
                    display: flex;
                }

                .boolean-editor {
                    &.disabled {
                        opacity: 0.5;
                    }
                }

                @media (max-width: @max-search-width) {
                    flex-wrap: wrap;
                    border-bottom: 1px solid @separator;

                    .predicate-editor {
                        flex-basis: 100%;
                        flex-shrink: 0;
                    }

                    .numeric-range-editor {
                        margin-left: 20px;
                    }

                    .age-range {
                        flex-wrap: wrap;

                        .boolean-editor {
                            width: 100%;
                        }
                    }
                }
            }
        }

        .search-footer {
            margin-top: 16px;
            margin-bottom: 16px;
            text-align: center;
        }

        &.submitted {
            display: block;

            .search-contents {
                margin: 0 auto;
            }

            .search-title {
                display: none;
            }

            .search-box {
                .elevation(2);
                border-radius: 0 0 4px 4px;
            }
        }
    }

    .stats-line {
        margin-top: 8px;
        margin-left: 24px;
        font-size: 12px;
        font-style: italic;
        opacity: 0.7;
    }

    .members-list {
        margin: 24px;
        margin-bottom: 8px;
        margin-top: 8px;
        animation: members-list-in 0.3s @easing;

        &.opening {
            animation: members-list-out 0.1s @easing forwards;
        }

        @keyframes members-list-in {
            from {
                opacity: 0;
            }
        }

        @keyframes members-list-out {
            to {
                opacity: 0;
            }
        }

        @media (max-width: 600px) {
            margin-left: 0;
            margin-right: 0;
        }

        .table-header {
            position: sticky;
            top: 0;
            display: flex;
            border-bottom: 1px solid @separator;
            background: @card-background;
            align-items: center;

            .table-header-column {
                box-sizing: border-box;
                padding-right: 8px;
                white-space: nowrap;
                display: flex;
                align-items: center;

                .column-title {
                    flex: 1;
                    opacity: 0.7;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-size: 0.875em;
                    font-weight: 500;
                    margin-left: 4px;
                }

                .sorting-control {
                    display: inline-block;
                    font-size: 0.7em;
                    height: auto;

                    .sorting-icon {
                        padding: 8px;
                    }
                }

                .sorting-control-none {
                    padding-left: 12px;
                }
            }

            .table-header-fields-btn {
                margin-left: 4px;
                margin-right: 4px;
            }
        }

        .flex-layout-header {
            padding-left: 4px;
        }

        .members-list-item {
            border-bottom: 1px solid @separator;
            transition: background 0.2s @easing;
            cursor: pointer;

            &:hover {
                background: @hover-background;
            }

            &:last-of-type {
                border-bottom: none;
            }

            &.table-layout {
                display: flex;

                .members-li-column {
                    box-sizing: border-box;
                    padding: 16px;
                    overflow: hidden;
                }
            }

            &.flex-layout {
                display: flex;

                .item-left, .item-right {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 16px;
                }

                .item-center {
                    width: 0;
                    flex: 1;
                    overflow: hidden;
                    padding: 16px 0;

                    .item-name {
                        margin-bottom: 8px;

                        & > *:not(:first-child) {
                            margin-left: 8px;
                        }
                    }
                }
            }
        }
    }

    .members-list .members-list-item,
    .member-detail-page {
        .name {
            display: inline-block;
            white-space: nowrap;
            justify-content: flex-start;
            max-width: 100%;

            .first-name, .last-name {
                display: inline-block;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }

        .old-uea-code, .uea-code {
            font-family: @monospace;
            font-size: 0.75em;
            border: 1px solid @separator;
            background: @hover-background;
            padding: 2px;
            border-radius: 4px;
            white-space: nowrap;
        }

        .email {
            word-wrap: break-word;
        }

        .old-uea-code {
            background: none;
        }

        .address {
            .address-pseudoline {
                &:not(:first-of-type)::before {
                    content: ', ';
                }
            }
        }
    }

    .table-pagination {
        font-size: 13px;
        margin-right: 24px;
    }

    .member-detail-page {
        padding: 24px;

        &.transition-in {
            animation: member-detail-page-in 1s @easing;

            @keyframes member-detail-page-in {
                from {
                    opacity: 0;
                }
            }

            .title-item:not([data-field='name']) {
                animation: member-detail-title-in 0.6s @easing 0.3s backwards;

                @keyframes member-detail-title-in {
                    from {
                        opacity: 0;
                    }
                }
            }

            .gen-member-detail-table-transition(@n, @offset) when (@n < 20) {
                .member-detail-table tr:nth-child(@{n}) {
                    animation: member-detail-item-in 0.5s @easing @offset backwards;
                }

                .gen-member-detail-table-transition(@n + 1, @offset + 0.01s);
            }

            .gen-member-detail-table-transition(0, 0.2s);

            @keyframes member-detail-item-in {
                from {
                    transform: translateY(30px);
                    opacity: 0;
                }
            }
        }

        .title {
            margin: 16px 0;

            .codeholder-type {
                display: inline-block;
            }

            .title-item {
                display: inline-block;
                vertical-align: middle;
            }

            .title-item:not(:last-of-type) {
                margin-right: 16px;
            }
        }

        .member-detail-table {
            .field-name {
                font-weight: 500;
                padding: 8px 16px;
                text-align: right;
                vertical-align: top;
            }

            .field-value {
                padding: 8px;
                padding-left: 0;
            }

            .address {
                .address-pseudoline {
                    display: block;

                    &::before {
                        content: none;
                    }
                }
            }
        }
    }
}

.members-field-picker {
    .close-button {
        margin-right: 16px;
    }

    .rearrangable-list {
        position: relative;
        min-width: 400px;
        list-style-type: none;
        padding: 0;
        margin: 0;

        @media (max-width: 600px) {
            min-width: auto;
        }

        & > .list-item {
            &.animated {
                transition: transform 0.3s @easing;
            }

            .field-picker-field {
                display: flex;
                align-items: center;
                border-radius: 4px;
                transition: box-shadow 0.3s @easing;

                .field-label {
                    flex: 1;
                    margin-left: 16px;
                }

                &.dragging {
                    position: relative;
                    background: @card-background;
                    .elevation(5);
                    z-index: 2;
                }
            }
        }
    }
}

.members-page .sorting-control,
.members-field-picker .sorting-control {
    white-space: nowrap;
    font-size: 0.875em;
    height: 48px;
    user-select: none;
    transition: opacity 0.2s @easing;

    &.not-sorted {
        opacity: 0.5;
    }

    .sorting-label {
        margin-right: 4px;
    }

    .arrow-icon {
        transition: transform 0.2s @easing;
    }

    &.animated {
        .none-icon {
            animation: sorting-control-none-icon-in 0.2s @easing;

            @keyframes sorting-control-none-icon-in {
                from {
                    transform: rotate(-90deg);
                }
            }
        }

        &:not(.desc) .arrow-icon {
            animation: sorting-control-arrow-icon-in 0.2s @easing;

            @keyframes sorting-control-arrow-icon-in {
                from {
                    transform: rotate(-90deg);
                }
            }
        }
    }

    &.desc .arrow-icon {
        transform: rotate(180deg);
    }
}
