@import '../../prelude';

.list-view {
    flex: 1;

    .search-input {
        display: flex;
        align-items: center;
        border-radius: 4px;
        transition: box-shadow 0.3s @easing;
        .elevation(4);

        &:focus-within {
            .elevation(6);
        }

        .search-field {
            flex-shrink: 0;
            margin-left: 16px;
        }

        .search-query {
            flex: 1;
            font: inherit;
            background: none;
            color: inherit;
            border: none;
            align-self: stretch;
            padding: 16px;
            margin: 0;

            &:focus {
                outline: none;
            }
        }

        .search-action {
            flex-shrink: 0;
            margin-right: 8px;
        }
    }

    .filter-disclosure {
        display: block;
        text-align: left;
        font: inherit;
        font-size: 0.875em;
        font-weight: 500;
        opacity: 0.5;
        padding: 16px 8px 0 64px;
        max-width: 600px;
        width: 100%;
        padding: 0;
        margin: 0 auto;
        color: inherit;
        background: none;
        border: none;

        &:focus {
            outline: none;
            opacity: 0.7;
        }

        .filter-disclosure-icon {
            vertical-align: middle;
        }

        &.expanded .filter-disclosure-icon {
            transform: rotate(180deg);
        }
    }

    .search-filter {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        padding: 4px 0;

        .filter-header {
            height: 48px;

            .filter-checkbox, .filter-checkbox-placeholder {
                margin-left: 8px;
                display: inline-block;
            }

            .filter-checkbox-placeholder {
                width: 48px;
            }

            .filter-label {
                display: inline-block;
                margin: 0 16px;
                line-height: 48px;
                margin-left: 8px;
                cursor: default;
                text-transform: uppercase;
                font-size: small;
                font-weight: bold;
                user-select: none;
            }
        }
    }

    .list-view-error {
        text-align: center;
        padding: 16px;

        .error-title {
            font-size: 1.2em;
            margin-bottom: 8px;
        }

        .error-details {
            max-width: 600px;
            margin: 0 auto;
            opacity: 0.7;
        }

        pre.error-details {
            font-family: @monospace;
            font-size: 12px;
            word-break: break-word;
            white-space: pre-wrap;
        }
    }

    .list-view-results {
        .result-stats {
            margin-top: 8px;
            margin-left: 24px;
            font-size: 12px;
            font-style: italic;
            opacity: 0.7;
        }

        .global-filter-notice {
            margin-top: 4px;
            margin-left: 24px;
            font-size: small;
            opacity: 0.8;
        }

        .no-results {
            text-align: center;
            padding: 16px;
        }

        .results-table {
            .table-header {
                position: sticky;
                top: 0;
                border-bottom: 1px solid @separator;
                background: @card-background;
                align-items: center;
                white-space: nowrap;

                .table-header-field {
                    padding: 4px 16px;
                }

                .table-header-fields-btn-container {
                    padding-left: 12px;
                    padding-right: 12px;
                }

                .table-header-field.transient {
                    border-bottom: 3px dotted @primary;

                    .transient-field-icon {
                        width: 16px;
                        height: 16px;
                        margin-right: 8px;
                        vertical-align: middle;
                    }
                }
            }

            .select-column {
                padding: 0;
            }
        }
    }
}
