@import '../../../../prelude';

.members-search {
    display: flex;
    justify-content: center;

    @max-search-width: 800px;

    .search-contents {
        position: relative;
        width: 100%;
        max-width: @max-search-width;

        & > .paper-list-item {
            position: absolute;
            transform-origin: 0 0;
            width: 100%;
        }
    }

    .search-title {
        font-size: 1.7em;
        opacity: 0.8;
        margin-top: 14vh;
        padding-bottom: 0.7em;
        text-align: center;
    }

    .search-primary {
        display: flex;
        align-items: center;
        position: relative;
        border-radius: 4px;
        z-index: 1;
        transition: box-shadow 0.3s @easing;
        .elevation(4);

        &:focus-within {
            .elevation(6);
        }

        .search-field {
            flex-shrink: 0;
            margin-left: 16px;
        }

        .search-input {
            width: 0;
            flex: 1;
            font: inherit;
            background: none;
            color: inherit;
            border: none;
            padding: 16px;
            padding-left: 8px;
            margin: 0;

            &:focus {
                outline: none;
            }
        }

        .search-expand, .search-submit {
            margin-right: 8px;
            flex-shrink: 0;
        }

        @media (max-width: @max-search-width) {
            flex-direction: column;
            align-items: stretch;
            border-bottom: 1px solid @separator;

            .search-field {
                margin: 16px;
                margin-bottom: 8px;
            }

            .search-input {
                width: 100%;
                padding-left: 16px;
                box-sizing: border-box;
            }

            .search-expand, .search-submit {
                margin: 16px;
                margin-top: 8px;
                align-self: flex-end;
            }
        }
    }

    .paper-list-item {
        position: absolute;
        width: 100%;
        background: @card-background;
        border-radius: inherit;
        will-change: transform;
        transform-origin: 0 0;
    }

    .json-editor-loading {
        text-align: center;
        opacity: 0.7;
        margin-top: 16px;
    }

    .filters-button {
        display: block;
        font: inherit;
        text-align: left;
        font-size: 0.875em;
        font-weight: 500;
        opacity: 0.5;
        padding: 16px 8px 0 64px;
        max-width: 600px;
        width: 100%;
        margin: 0 auto;
        color: inherit;
        background: none;
        border: none;

        &:focus {
            outline: none;
            opacity: 0.7;
        }

        .expand-icon {
            vertical-align: middle;
        }
    }

    .predicate {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        padding: 4px 0;

        .predicate-field-header {
            height: 48px;

            .predicate-checkbox,
            .predicate-checkbox-placeholder {
                margin-left: 8px;
                display: inline-block;
            }

            .predicate-checkbox-placeholder {
                width: 48px;
            }

            .predicate-field {
                display: inline-block;
                margin: 0 16px;
                line-height: 48px;
                margin-left: 8px;
                cursor: default;
                text-transform: uppercase;
                font-size: small;
                font-weight: bold;
            }
        }

        .predicate-editor {
            display: inline-block;
        }

        .numeric-range-editor {
            position: relative;
            width: 0;
            flex: 1;
            height: 48px;
            max-width: 100%;
            margin-right: 20px;
            -webkit-tap-highlight-color: transparent;
            user-select: none;

            canvas {
                position: absolute;
            }

            &:focus {
                outline: none;
            }
        }

        .country-picker {
            display: flex;
            align-items: center;
            margin: 8px;
            margin-right: 16px;
            margin-left: 56px;
            padding: 8px;
            cursor: default;
            border-bottom: 2px solid @control-idle;
            border-radius: 4px 4px 0 0;

            &:hover {
                border-bottom-color: @control-primary;
            }

            .picked-countries {
                flex: 1;
                width: 0;
                height: 1.5em;
                font-size: small;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;

                .countries-placeholder {
                    opacity: 0.6;
                }
            }

            .expand-icon {
                flex-shrink: 0;
            }
        }

        .age-editor .age-editor-top,
        .country-editor .country-editor-top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-right: 16px;
        }

        .age-editor {
            .age-birth-year {
                // margin-right: 16px;
                opacity: 0.8;
            }

            &.disabled .age-prime-switch {
                opacity: 0.5;
            }

            .numeric-range-editor {
                display: block;
                width: calc(100% - 40px);
                margin: 0 20px;
            }
        }

        .left-right-editor {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-right: 16px;
        }

        .active-member-editor {
            display: flex;
            padding: 8px 0; // numeric range editor gets clipped otherwise

            .predicate-field-header {
                flex-shrink: 0;
            }

            .numeric-range-editor {
                width: 0;
                flex: 1;
                margin-left: 16px;
            }

            @media (max-width: 600px) {
                display: block;

                .numeric-range-editor {
                    display: block;
                    margin: 0 20px;
                    width: calc(100% - 40px);
                }
            }
        }

        .membership-editor {
            padding-right: 16px;

            .membership-conjunction-separator {
                position: relative;
                display: block;
                margin: 8px 0;
                text-align: center;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 0.875em;
                animation: members-search-membership-separator-in 0.4s @easing;

                &::before, &::after {
                    content: '';
                    position: absolute;
                    background: currentColor;
                    opacity: 0.2;
                    top: 50%;
                    height: 1px;
                    width: 40%;
                }
                &::before {
                    left: 16px;
                }
                &::after {
                    right: 16px;
                }

                @keyframes members-search-membership-separator-in {
                    from {
                        transform: translateY(-50%);
                        opacity: 0;
                    }
                }
            }

            .membership-item {
                padding: 16px;
                border: 1px solid fade(@text, 20%);
                border-radius: 4px;
                animation: members-search-membership-item-in 0.4s @easing;

                @keyframes members-search-membership-item-in {
                    from {
                        transform: translateY(-50%);
                        clip-path: inset(49% 0 49% 0);
                    }
                    to {
                        clip-path: inset(0 0 0 0);
                    }
                }

                .membership-remove {
                    float: left;

                    &:hover {
                        color: @danger;
                    }
                }

                .membership-item-line {
                    text-align: right;
                    margin-bottom: 8px;

                    .membership-categories {
                        width: calc(100% - 16px);
                        text-align: left;
                    }

                    &.membership-range-line {
                        display: flex;
                        margin-top: 16px;

                        .membership-range-checkbox {
                            margin: 16px;
                            margin-left: 8px;
                        }

                        .numeric-range-editor {
                            display: inline-block;
                            width: calc(100% - 50px - 56px);
                            // firefox has weird flexbox behavior with this element
                            max-width: calc(100% - 50px - 56px);
                            margin: 16px 30px 0 20px;
                        }
                    }
                }
            }

            .membership-add-container {
                margin-top: 8px;
                text-align: center;
            }

            &.is-empty {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }

        @media (max-width: 600px) {
            border-bottom: 1px solid @separator;

            .age-editor .age-editor-top {
                padding-right: 8px;

                .age-birth-year {
                    // FIXME: is this a good idea?
                    display: none;
                }
            }

            .left-right-editor {
                flex-direction: column;
                align-items: auto;
                padding-right: 8px;

                :first-child {
                    align-self: start;
                }

                :last-child {
                    align-self: flex-end;
                }
            }
        }
    }

    .search-footer {
        margin-top: 16px;
        margin-bottom: 16px;
        text-align: center;
    }

    &.submitted {
        display: block;

        .search-contents {
            margin: 0 auto;
        }

        .search-title {
            display: none;
        }

        .search-box {
            border-radius: 0 0 4px 4px;
        }
    }
}

.members-list-membership-category {
    display: flex;
    align-items: center;

    .membership-category-id {
        font-size: small;
        margin-right: 8px;
    }
    .membership-category-name {
        flex: 1;
    }
}

.country-picker-dialog {
    .country-picker-dialog-paper {
        height: 100%;
    }

    .dialog-title {
        position: relative;
    }

    .search-box-container {
        // hacky: just hope it aligns with the multicol list
        position: absolute;
        display: flex;
        top: 50%;
        right: 0;
        width: 50%;
        height: 48px;
        transform: translateY(-50%);

        .search-icon-container {
            display: flex;
            width: 48px;
            height: 48px;
            justify-content: center;
            align-items: center;
            opacity: 0.7;
        }

        .search-box {
            flex: 1;
            height: 100%;
            font: inherit;
            font-size: 16px;
            font-weight: normal;
            color: inherit;
            background: none;
            border: none;
            padding: 0;
            margin: 0;

            &:focus {
                outline: none;
            }
        }
    }

    .dialog-content {
        display: flex;
        flex-direction: column;
    }

    .multicol-list {
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;
        overflow: hidden;
        justify-content: stretch;

        .column {
            position: relative;
            flex: 1;
            width: 300px;
            overflow-x: hidden;
            overflow-y: auto;
        }

        .list-item {
            position: absolute;
            height: 48px;
            transition: background 0.2s;
            border-radius: 4px;

            &:hover {
                background: @hover-background;
            }

            &.floating {
                background: @card-background;
            }

            .country-item {
                display: flex;
                height: 100%;
                align-items: stretch;
                cursor: default;
                line-height: 48px;

                .country-icon, .country-check {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 48px;
                }

                .country-name {
                    flex: 1;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            &.floating .country-check {
                animation: country-picker-country-check-in 0.3s @easing 0.2s backwards;

                @keyframes country-picker-country-check-in {
                    0% {
                        transform: scale(0);
                    }
                }
            }
        }
    }

    .selection-controls {
        display: flex;
        justify-content: space-between;
        flex-shrink: 0;

        .selection-button {
            font-size: small;
        }
    }
}
