@import '../../prelude';

// TODO: split this up

.data {
    &.address-editor {
        .form-validator, .country-editor {
            display: block;
            margin-bottom: 16px;
        }
    }

    &.country-editor {
        width: 200px;
    }

    &.email {
        color: inherit;
        word-wrap: break-word;
    }

    &.phone-number {
        color: inherit;
    }

    &.date-editor {
        width: 256px;
    }

    &.uea-code, &.api-key {
        font-family: @monospace;
        font-size: 0.75em;
        border: 1px solid @separator;
        background: @hover-background;
        padding: 2px;
        border-radius: 4px;
        white-space: nowrap;

        &.is-old {
            background: none;
        }
    }

    &.uea-code-load-error {
        color: @error;
    }

    &.uea-code-editor {
        &.paper-text-field .p-contents .p-input {
            font-family: @monospace;
        }

        .taken-state {
            &.is-available {
                color: @positive;
            }

            &.is-taken {
                color: @danger;
            }
        }
    }

    &.timespan-editor {
        display: inline-block;
        font-size: small;
        border: 1px solid @separator;
        border-radius: 4px;

        &:focus-within {
            border-color: @secondary;
        }

        .te-field {
            display: inline-block;

            .te-field-input {
                font: inherit;
                text-align: right;
                border: none;
                padding: 8px 2px;
                margin: 0;
                background: none;
                color: inherit;
                max-width: 5em;

                // hide spinner
                -moz-appearance: textfield;
                &::-webkit-inner-spin-button {
                    display: none;
                }

                &:focus {
                    outline: none;
                }
            }

            margin-right: 8px;
        }
    }

    &.time-editor {
        width: 5em;
    }

    &.yelling-asterisk {
        color: @danger;
    }
}

.data-date-picker-portal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1413;
}
.data-timestamp-popover {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1414;

    .inner-popover {
        position: absolute;
        white-space: nowrap;
        padding: 4px 8px;
        border-radius: 4px;
        transform: translate(-50%, calc(-100% - 8px));
        background: @card2-background;
        .elevation(10);
        pointer-events: none;
        animation: data-timestamp-popover-in 0.3s @easing;

        @keyframes data-timestamp-popover-in {
            0% {
                transform: translate(-50%, -100%) scale(0.5, 0.9);
                opacity: 0;
            }
        }

        &::before {
            content: '';
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            border: 4px solid transparent;
            border-top-color: @card2-background;
        }
    }
}
