@import '../../../prelude';

.congresses-task-create-instance {
    width: 400px;
    max-width: 100%;

    .paper-text-field {
        width: 100%;
    }
}

.congresses-task-create-location {
    width: 100%;
    max-width: 600px;
}


.congresses-task-create-program {
    width: 400px;
    max-width: 100%;

    .name-field {
        width: 100%;
    }
    .date-field {
        width: 100%;
    }
}
