@import '../../prelude';

.form-editor-item {
    .form-editor-item-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 16px;
        border-radius: 4px;

        &.is-editing .remove-button {
            visibility: hidden;
        }

        .item-bar-right {
            display: flex;
        }

        &.is-editing .item-bar-right {
            flex-direction: row-reverse;

            .inner-move-controls {
                visibility: hidden;
            }
        }
    }
}

.form-editor-item-remove-confirmation {
    width: 100%;
    max-width: 600px;

    .item-preview {
        margin-bottom: 16px;
        background: @text-fade-10;
        padding: 8px 16px;
        border-radius: 8px;
        max-width: 100%;
        max-height: 144px;
        overflow: hidden;
    }

    .remove-skip-hint {
        font-size: smaller;
        opacity: 0.7;
    }
}