@import '../../prelude';

.form-editor-item {
    border: 1px solid @separator;
    margin: 8px 0;
    border-radius: 8px;

    .form-editor-item-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 16px;
        border-radius: 4px;

        &.is-editing .remove-button {
            visibility: hidden;
        }

        .item-bar-right {
            display: flex;
        }
    }
}
