@import '../../prelude';

.form-editor-settings {
    background: @text-fade-10;
    border-radius: 8px;
    margin-bottom: 16px;

    &.is-expanded {
        padding-bottom: 8px;
    }

    .settings-title {
        padding: 8px 16px;
        display: flex;
        align-items: center;

        .inner-title {
            flex: 1;
            padding-left: 16px;
            font-weight: bold;
        }
    }

    &.is-expanded .settings-title {
        border-bottom: 1px solid @separator;
    }

    .settings-flag {
        padding: 8px 16px;

        .flag-checkbox {
            margin-right: 8px;
        }

        .flag-description {
            margin-top: 4px;
            font-size: small;
            opacity: 0.7;
        }
    }

    .settings-flag-options {
        border-radius: 4px;
        margin: 0 16px;
        margin-bottom: 16px;
        background: @text-fade-10;
    }

    .settings-item {
        padding: 8px 16px;
    }

    .settings-item-title {
        display: block;
        margin-bottom: 4px;
        font-size: smaller;
        font-weight: 600;
        text-transform: uppercase;
    }

    .settings-item-description {
        margin-top: 8px;
        font-size: smaller;
    }

    .currency-select-container {
        display: flex;
        flex-wrap: wrap;

        & > * {
            flex: 1;
        }

        .currency-select {
            margin-left: 8px;
        }
    }

    .settings-section-title {
        display: block;
        padding-top: 8px;
        margin: 0 16px;
        margin-bottom: 8px;
        font-weight: 600;
    }

    .settings-confirmation-notif {
        padding: 8px 16px;
    }

    .settings-summary {
        padding: 8px 16px;

        .i-icon {
            font-size: inherit;
        }

        .summary-flag {
            display: inline-block;
            background: @text-fade-10;
            padding: 2px 4px;
            border-radius: 4px;
        }

        .summary-flags {
            display: flex;
            flex-wrap: wrap;
            gap: 2px;
        }

        .summary-price {
            border-top: 1px solid @separator;
            padding: 2px 4px;
            margin: 2px 0;
            display: flex;
            flex-wrap: wrap;
            gap: 16px;

            .i-price-var {
                margin: 4px 0;
            }
            .i-price-min {
                font-size: smaller;
            }
        }
        .summary-vars {
            display: block;
            border-top: 1px solid @separator;
            padding: 2px 4px;
            margin: 2px 0;

            td {
                padding-right: 8px;
            }
        }
    }
}

.form-editor-settings-var-ref {
    display: inline-block;
    vertical-align: middle;
}
