.akso-cm-template-marked-atom {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 0.95em;
    border-radius: 4px;
    background: var(--editor-template-background);
    border: 1px solid var(--editor-template-delimiter);
    padding: 0 2px;

    &.is-script-var {
        background: white;
        border-color: #f48;
        color: black;
    }

    &.is-condition {
        display: inline-block;
        border-color: #999;
        color: inherit;
        background: none;

        .inner-node {
            margin: -1px 4px;
            border-radius: 4px;
            font: inherit;
            color: inherit;

            &.is-form-var {
                background: var(--editor-template-background);
                border: 1px solid var(--editor-template-delimiter);
            }
            &.is-script-var {
                background: white;
                border-color: #f48;
                color: black;
            }
        }
    }
}

.akso-cm-template-error-mark {
    background: var(--editor-error-background);
    color: var(--editor-error);
}
