@import '../prelude';

.detail-view {
    .detail-view-loading {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 16px 0;
    }

    .detail-view-error {
        text-align: center;
        font-family: @monospace;
        font-size: small;
        padding: 16px;
    }
}
