@import '../prelude';

.detail-view {
    .detail-view-loading {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 16px 0;
    }

    .detail-view-error {
        text-align: center;
        font-family: @monospace;
        font-size: small;
        padding: 16px;
    }

    .detail-fields {
        display: grid;
        grid-template-columns: 8em auto;
        grid-column-gap: 16px;
        grid-row-gap: 8px;

        .detail-field-id {
            text-align: right;
        }
    }
}

.akso-app .app-header.detail-view-editing-app-bar {
    background: #222;
    color: #fff;
    --md-button-color: #fff;
}
