@import '../prelude';
@import './codemirror-style';

.markdown-text-field {
    @cm-height: 180px;

    .md-editor-bar {
        position: relative;
        padding: 2px;

        button {
            padding: 4px 8px;
            text-transform: none;
            line-height: 1.2;
            font-weight: normal;
            --md-button-color: @gray-button-color;
            vertical-align: middle;
        }

        .editor-bar-preview-state {
            display: none;
            justify-content: space-between;
        }

        &.is-previewing {
            .editor-preview-open-button {
                display: none;
            }
            .editor-bar-preview-state {
                display: flex;
            }
        }
    }

    &.editing {
        border: 1px solid var(--md-text-field-idle);
        border-radius: 4px;
        overflow: hidden;

        &:focus-within {
            border-color: @secondary;
        }

        .CodeMirror {
            height: @cm-height;
            .editor-light();
        }
    }

    .markdown-contents {
        &.is-preview {
            height: @cm-height;
            padding: 8px;
            overflow: auto;
        }

        table {
            border: 1px solid @separator;
            border-radius: 4px;
            border-spacing: 0px;

            td, th {
                padding: 4px 8px;
            }

            thead tr {
                background: @text-fade-10;
            }
            thead th {
                border-bottom: 1px solid @separator;
            }

            tbody tr:nth-child(2n) {
                background: @text-fade-10;
            }
        }

        &.is-inline {
            height: 1.3em;
            line-height: 1.3em;
            overflow: hidden;

            p {
                margin: 0;
                display: inline-block;
                margin-right: 1em;
            }
        }

        p:first-child {
            margin-top: 0;
        }
        p:last-child {
            margin-bottom: 0;
        }
    }
}
