@import '../prelude';

.overview-list {
    margin: 1em auto;
    padding: 0 16px;

    &.search-expanded {
        display: none;
    }

    .list-meta {
        display: flex;
        justify-content: space-between;
        max-width: 800px;
        margin: 0 auto;
        color: @text-fade-60;
        font-style: italic;
        font-size: small;
        margin-bottom: 1em;
    }

    .compact-page-button {
        display: none;
        width: 100%;
        --md-button-color: @gray-button-color;
        font-size: small;
        line-height: 1;
        padding-top: 8px;
        padding-bottom: 8px;

        &.prev-page-button {
            padding-top: 0;
        }
        &.next-page-button {
            padding-bottom: 0;
        }
    }

    .compact-pagination {
        display: none;
        text-align: center;
        font-size: small;
        margin-top: 1em;
        color: @text-fade-60;
    }

    .regular-pagination {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .pagination-buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: @text-fade-60;

            .pagination-text {
                margin: 0 1em;
            }
        }
    }

    .list-contents {
        overflow: hidden;
        transition: opacity 0.3s;

        .list-item, .list-header {
            display: grid;
            max-width: 100%;
            padding: 8px 0;
            grid-template-rows: 1fr;
            justify-content: stretch;
            align-items: center;

            color: inherit;
            text-decoration: none;
            cursor: default;

            // reset paper-button styles
            text-transform: inherit;
            text-align: inherit;
            font: inherit;
            letter-spacing: inherit;
            min-width: initial;

            .list-item-cell, .list-header-cell {
                .cell-label {
                    font-size: small;
                    font-weight: 600;
                    display: none;
                    width: 8em;
                    margin-right: 16px;
                    text-align: right;
                }
            }
        }

        .list-header .list-header-cell {
            overflow: hidden;
            text-overflow: ellipsis;

            .cell-label {
                text-align: left;
                display: inline;
                margin: 0;
                width: auto;
            }
        }
    }

    &.stale .list-contents {
        opacity: 0.5;
    }

    @media (max-width: @regular-min-width) {
        .compact-page-button, .compact-pagination {
            display: block;
        }
        .regular-pagination {
            display: none;
        }

        .list-contents .list-header {
            display: none;
        }

        .list-contents .list-item {
            display: block;
            border-bottom: 1px solid @separator;

            .list-item-cell {
                .cell-label {
                    display: inline-block;
                }
            }
        }
    }
}
