.search-filters {
    margin: 0 auto;
    padding: 0 16px;
    --paper-list-horiz-padding: 32px;
    max-width: calc(800px + var(--paper-list-horiz-padding));

    .top-padding, .bottom-padding {
        height: 32px;
    }

    @media (max-width: 600px) {
        padding: 0;
        --paper-list-horiz-padding: 0px;

        .top-padding {
            height: 0;
        }
    }

    .filters-disclosure {
        padding: 8px 16px;
        font-size: small;
        text-transform: uppercase;
        font-weight: 600;

        .disclosure-arrow {
            vertical-align: -7px;
        }
    }

    .filters-bar {
        padding: 0 16px;

        .json-switch {
            font-size: small;
        }
    }

    .filter {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 8px 16px;

        .filter-header {
            display: flex;
            align-items: center;

            .filter-switch-container {
                padding-right: 16px;
            }

            .filter-name {
                text-transform: uppercase;
                font-size: (14em / 16);
                font-weight: bold;
                user-select: none;
                cursor: default;
            }
        }
    }
}
