@import '../../../../prelude';

.registration-entry-id {
    font-family: @monospace;
    font-size: 0.8em;
    border: 1px solid @separator;
    border-radius: 4px;
    padding: 2px 4px;
}

.registration-entry-codeholder-data {
    border: 1px solid @separator;
    border-radius: 4px;

    .basic-address {
        .address-pseudoline {
            display: block;
        }
    }
}
